:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #70A6CF;
    --color-gray: #C5C2C2;
    --color-txt-bg: #5782b6;
}
.container {

    /* 標題 */
    .top {
        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }
        }
    }

    .list {

        /* 三區上下排放 */
        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 5rem 0;

            /* 照片部分 */
            .pic {
                margin: 0 auto;
                padding: 8px;
            }

            /* 背景部分 */
            .cardContent {
                background-color: var(--color-white);
                height: 70%;
                border-radius: 20px;
                padding: 15px;

                /* 文字部分 */
                .txt {
                    padding-bottom: 0;
                }

            }
        }

        /* 第二區圖片位置調整 */
        .card:nth-child(even) {
            .pic {
                padding: 10px;
            }
        }

        /* 第二區背井位置調整 */
        /* .card:nth-child(even) .cardContent .inner {
            margin-left: 0;
            padding-left: 2rem;
        } */
    }
}


@media screen and (min-width: 768px) {
    .container {
        .list {

            /* 三區左右排放 */
            .card {
                flex-wrap: wrap;
                margin: 1rem;

                /* 照片部分位置調整 */
                .pic {
                    position: absolute;
                    left: -6%;
                    bottom: 4%;
                    width: 45%;
                }

                /* 背景部分位置調整 */
                .cardContent {
                    height: 70%;
                    margin: 1rem 0;

                    /* 文字部分位置調整 */
                    .inner {
                        margin-left: auto;
                    }
                }
            }

            /* 第二區順序相反 */
            .card:nth-child(2)  {
                .cardContent{
                    .inner {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }
                .pic {
                    position: absolute;
                    left: 60%;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {

        .list {
            .card {
                margin: 2rem;

                /* 照片部分位置調整 */
                .pic {
                    left: -15%;
                    bottom: 8%;
                    width: 50%;
                }

                /* 背景部分位置調整 */
                .cardContent {
                    margin: 3rem 0;
                }
            }
        }
    }
}

/* 動畫 圖片初始位置在右邊外面一點*/

.pic,
.cardContent .inner {
    opacity: 0;
/* 一開始是透明的 */
    transition: all 1s ease;
/* 設定動畫時間 */
}
/* 圖片在左邊，從左邊滑進來 */
&:nth-child(odd) .pic {
    transform: translateX(-50px) translateY(-50px);
}

/* 文字在右邊，從右邊滑進來 */
&:nth-child(odd) .cardContent .inner {
    transform: translateX(50px) translateY(50px);
}
/* 圖片在右邊，從右邊滑進來 */
&:nth-child(even) .pic {
    transform: translateX(50px);
}

/* 文字在左邊，從左邊滑進來 */
&:nth-child(even) .cardContent .inner {
    transform: translateX(-50px);
}

/* === 2. 設定進場後的狀態 (active) === */
.pic.active,
.cardContent .inner.active {
    opacity: 1;
    transform: translateX(0);
}

