.container {
    .top {
        display: flex;
        align-items: center;

        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }
        }
    }

    .list {

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 5rem 0;

            .pic {
                padding: 10px;
                margin: 0 auto;

            }

            .cardContent {
                background-color: var(--color-white);
                height: 70%;
                border-radius: 20px;
                padding: 5px;

                .inner {
                    margin: 5px;

                    .pTitle {}

                    .txt {}
                }

            }
        }

        .card:nth-child(2) {
            .pic {
                padding: 10px;
            }
        }

        .card:nth-child(2) .cardContent .inner {
            margin-left: 0;
            padding-left: 2rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        .top {
            display: flex;
            align-items: center;

            .titleGroup {
                .partTitle {
                    padding-bottom: 10px;
                }
            }
        }

        .list {

            .card {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                margin: 2rem;

                .pic {
                    padding: 10px;
                    position: absolute;
                    left: -15%;
                    width: 50%;

                }

                .cardContent {
                    background-color: var(--color-white);
                    height: 70%;
                    margin: 3rem 0;
                    border-radius: 20px;

                    .inner {
                        margin-left: auto;

                        .pTitle {}

                        .txt {}
                    }

                }
            }

            .card:nth-child(2) {
                .pic {
                    padding: 10px;
                    position: absolute;
                    left: 60%;
                    width: 55%;
                }
            }

            .card:nth-child(2) .cardContent .inner {
                margin-left: 0;
                padding-left: 2rem;
            }
        }
    }
}