.container {
    .top {
        display: flex;
        align-items: center;

        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }
        }
    }

    .list {

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 5rem 0;

            .pic {
                padding: 10px;
                margin: 0 auto;

            }
            .slide-in{
                opacity:1;
                transform: translate(0%,0%) scale(1);
            }

            .cardContent {
                background-color: var(--color-white);
                height: 70%;
                border-radius: 20px;
                padding: 5px;

                .inner {
                    margin: 5px;

                    .pTitle {}

                    .txt {}
                }

            }
        }

        .card:nth-child(2) {
            .pic {
                padding: 10px;
            }
        }

        .card:nth-child(2) .cardContent .inner {
            margin-left: 0;
            padding-left: 2rem;
        }
    }
}


 @media screen and (min-width: 768px) {
    .container {
        /* .top {
            .titleGroup {
                .partTitle {
                }
            }
        } */

        .list {

            .card {
                flex-wrap: wrap;
                margin: 1rem;

                .pic {
                    padding: 10px;
                    position: absolute;
                    left: -15%;
                    bottom: 20%;
                    width: 50%;

                }

                .cardContent {
                    height: 70%;
                    margin: 1rem 0;

                    .inner {
                        margin-left: auto;
/* 
                        .pTitle {}

                        .txt {} */
                    }

                }
            }

            .card:nth-child(2) {
                .pic {
                    position: absolute;
                    left: 60%;
                }
            }

            /* .card:nth-child(2) .cardContent .inner {
            } */
        }
    }
} 

@media screen and (min-width: 1024px) {
    .container {
        /* .top {
            .titleGroup {
                .partTitle {
                }
            }
        } */

        .list {

            .card {
                margin: 2rem;

                .pic {
                    left: -15%;
                    bottom: 0%;
                    width: 50%;

                }

                .cardContent {
                    margin: 3rem 0;

                    .inner {

                        /* .pTitle {}

                        .txt {} */
                    }

                }
            }

            .card:nth-child(2) {
                .pic {
                    left: 60%;
                }
            }
            /* .card:nth-child(2) .cardContent .inner {
            } */
        }
    }
}