.pTitle {
    color: var(--color-primary);
    font-weight: 500;
    margin: 5px 0;
    padding: 5px 0;
}
/* ======= 背景水母 ========= */
.jelly {
    position: fixed;
    width: 40%;
    right: 3%;
    top: 6%;
    z-index: -1;
    opacity: .8;
}

.jelly img {
    width: 100%;
}
/* ======= 每頁標題 ========= */
.container {
    .top {
        display: flex;
        align-items: center;
        position: relative;

        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }
        }
    }

    .content {
        margin: 4rem 0;

        .subtitle {
            width: fit-content;
            color: var(--color-primary);
            border-bottom: 4px solid var(--color-primary);
        }

        .pTitle {
            font-weight: 600;
            margin: auto;
        }
    }

    .firstPart {

        .subtitle {
            color: var(--color-accent);
            border-bottom: 4px solid var(--color-accent);
        }

        .accpTitle {
            display: block;
            user-select: none;

            i {
                transform: rotate(0deg);
                transition: all .3s;
            }
        }

        .pTitle {
            color: var(--color-accent);
            border-bottom: 2px solid var(--color-accent);
            margin: 10px 0;
        }

        .acctxt {
            /* max-height: 0; */
            /* overflow: hidden; */
            display: none;
            transition: max-height .3s ease;
            padding: 15px;
            background-color: #e6e4e4;
            border-radius: 10px;

            p {
                padding: 2px 0;
            }
        }
        .accordion-item.show .acctxt {
            display: block;
        }

        /* input[type="checkbox"]:checked~.acctxt {
            max-height: 520px;
        }

        input[type="checkbox"]:checked~.accpTitle i {
            transform: rotate(180deg);
        } */
    }

    .secondPart {
        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card {
                border-radius: 20px;
                border: 2px solid #d3d3d3;
                background-color: #fff;
                margin: .5rem 1.5rem;
                position: relative;
                padding: .3rem .5rem;

                .step {
                    display: flex;

                    .pic {
                        margin: .5rem;
                        position: relative;
                        align-content: center;
                        width: 15%;
                    }

                    .pic img {
                        border-radius: 0;
                    }

                    .pTitle {
                        color: var(--color-primary);
                        font-size: 1.1rem;
                    }
                }

                .txt {
                    padding-bottom: 0;
                }
            }
        }
    }

    .thirdPart {
        .pTitle {}

        .txt {}
    }
}


@media screen and (min-width: 768px) {
    .container {
        /* .content{        } */

        /* .firstPart {    } */

        .secondPart {
            .list {
                flex-direction: row;

                .card {
                    margin: .5rem 0;
                }
            }

        }

        /* .thirdPart {    } */
    }

    .jelly {
        position: fixed;
        width: 30%;
        right: 0%;
        top: 5%;

    }
}

@media screen and (min-width: 768px) {
    .container {
        /* /* .content{        } */

        /* .firstPart {    } */

        .secondPart {
            .list {
                .card {}
            }

        }

        /* .thirdPart {    } */
    }

    */ .jelly {
        right: 0%;
        top: 2%;
    }
}