:root {
    --color-primary: #330fba;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lightBlue: #78B6CE;
    --color-gray: #C5C2C2;
    /* --color-border-light: #eee; */
    --spacing-medium: 30px;
    --spacing-large: 50px;
    --font-size-title-desktop: 48px;
    --font-size-title-mobile: 36px;
}



/* -------------------         search         --------------------- */


.search {
    z-index: 10;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-row: 4/5;
    grid-column: 1/4;
    width: 80%;
    margin: 2rem 0;
    position: relative;
}

.search .search_bar input {
    text-indent: 23px;
    background-image: url('');
    width: 100%;
    border: 3px solid #0f52ba;
    border-radius: 40px;
    padding: 5px;
}

i {
    width: 50px;
    color: var(--color-text-dark);
}

.search_bar i {
    position: absolute;
    left: 10px;
    /* Adjust horizontal position */
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    /* Fine-tune vertical alignment */
    color: #aaa;
    /* Customize icon color */
}

.search_bar {
    display: flex;
    position: relative;
}

.search_bar a {
    text-decoration: none;
    right: 30px;
    top: 3px;
    position: relative;
}

.search .hot {
    display: flex;
    margin-top: 1rem;
    color: var(--color-text-dark);
}

.search .hot p {
    margin-right: 10px;
}

.search .hot button {
    padding: 0 5px;
    border: 0;
    background-color: #78b6ce;
    color: #f6fffe;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    height: 30px;
    margin: 0 1%;
    text-align: center;
}

.search .hot button:hover {
    background-color: #0f52ba;
    box-shadow: inset;
}

/* ----------------   共用    ---------------------- */

.hot {
    /*  標籤 按鈕*/
    font-size: 1rem;
}



button {
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid var(--color-primary);
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.5s ease;
}

button:hover {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    /* box-shadow: rgb(93 24 220) 0px 7px 29px 0px; */
}

/* ----------------------------------- */

/* --------------------     Card    ---------------------- */

.card {
    /* width: 100%; */

    border-radius: 20px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-rows: auto;
    margin: 1.5rem 0;
    transition: all .5s;

}

.card .cardPic {
    margin: .5rem;
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100%;
}

.cardPic img {
    width: 100%;
}

.card .title {
    writing-mode: vertical-lr;
    grid-column: 5/6;
    grid-row: 1/3;
    margin: 1rem;
}

.card .tag {
    grid-column: 5/7;
    grid-row: 3/4;
    background-color: #330fba;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    color: #fff;
    margin: .5rem .3rem;
    padding: .3rem;
    overflow: hidden;
    letter-spacing: 0rem;
}

.card .txt {
    color: #fff;
    padding: .8rem;
    background-color: #330fba90;
    grid-column: 1/7;
    grid-row: 4/6;
    border-radius: 0 0 20px 20px;
}

.card::before,
.bioCard::before {
    content: "";
    transition: all 0.8s ease;
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
}
.bioCard:hover {
    border: 5px solid #78B6CE;
    transform: scale(1.03);
    background-size: 70%;
    cursor: pointer;
}

/* --------------   action    ------------------*/

/* ----------------   Footer   ------------------- */


/* ------------------------------------------------------------------------- */

.bioCardList {
    display: flex;
}

.bioCard {
    background-image: url(../Mockup/bio-fish.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    /* background-position-x: right; */
    background-position: right center;
    display: flex;
    margin: .3rem;
    border: 2px solid var(--color-lifhtBlue);
    border-radius: 20px;
    overflow: hidden;
    padding: 3rem 0;
    transition: all .5s ;
}

.bioCard:nth-child(2) {
    background-image: url(../Mockup/bio-crab.svg);
    border: 2px solid var(--color-gray);
}
.bioCard:nth-child(2):hover {
    border: 5px solid var(--color-gray);
}

.bioCard:nth-child(3) {
    background-image: url(../Mockup/bio-oct.svg);
}

.List2:nth-child(2n+1) {
    background-image: url(../Mockup/bio-shell.png);
    border: 2px solid var(--color-gray);
}
.List2:nth-child(2n+1):hover {
    border: 5px solid var(--color-gray);
}

.List2:nth-child(2) {
    border: 2px solid #78B6CE;
    background-image: url(../Mockup/bio-urchin.svg);
}
.List2:nth-child(2n):hover {
    border: 5px solid #78B6CE;
}
.List2:nth-child(3) {
    border: 2px solid #78B6CE;
    background-image: url(../Mockup/bio-whale.svg);
}

/* .List2:nth-child(3) {
    background-image: url(../Mockup/bio-whale.svg);
    border: 2px solid var(--color-gray);
} */

.title {
    z-index: 10;
    font-size: 1.2rem;
    font-weight: 700;
    position: relative;
    justify-content: start;
    align-content: start;
    margin-left: 1rem;
    /* border: 1px solid #ffff11 ; */
}

.wholeBio {
    display: none;
    margin: 2rem 0;
    padding: 2rem 1%;
    border-radius: 20px;
    /* width: 100%; */
    background-color: #78B6CE;
}

.wholeBio .subtitle {
    text-align: center;
}
.bioCheckedInput:checked ~ .wholeBio{
    display: block;
}

.wholeBio .subtitle .chTitle,
.wholeBio .subtitle .enTitle {
    font-size: 1.5rem;
    font-weight: 800;
}
.wholeBio a{
    transition: none;
    text-decoration: none;
    display: block;
    
}

/* ----------------------------------------------------------------- */
@media screen and (min-width: 768px) {

    /* ---------- 文字大小 ----------*/
    .sub_title {
        /* .hero .sub_title */
        font-size: 2.5rem;
    }

    .partTitle {
        /* 段落title */
        font-size: 1.75rem;
    }

    .title {
        /* 區塊標題 */
        font-size: 1.5rem;
        font-weight: 700;
    }

    .subTitle {
        /* 內文標題 */
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.5rem;
        margin-bottom: 15px;
    }

    .txt {
        /* 內文 */
        font-size: 1rem;
        color: var(--color-text-dark);
        padding: 20px 20px 20px 0;
        letter-spacing: .6rem;
        line-height: 200%;
    }

    .hot {
        /* 標籤 按鈕 */
        font-size: 1rem;
    }

    .wholeBio .subtitle {
        font-size: 2rem;
    }

    .wholeBio a {
        width: calc(50% - 10px);
    }
    .wholeBio .subtitle .chTitle,
    .wholeBio .subtitle .enTitle {
        font-weight: 800;
    }


    /* --------------------------------------------- */

    .search {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .container {
        /* background-image: url(../Mockup/t2.svg);
        background-size: 50%;
        background-position: right top ;
        background-repeat: no-repeat; */
        position: relative;

    }
    .moveTurtle{
        width: 50%;
        position: absolute;
        bottom: -50%;
        left: -100%;
        animation: slide-diag 10s ease-in-out forwards;
        z-index: -1;

    }
    .moveTurtle img{
        width: 100%;
    }
    @keyframes slide-diag {
    /* 0%：動畫起始點 (左下角) */
    0% {
        /* 將圖片定位在左下角 */
        bottom: -10%;
        left: -30%;
        /* 避免使用 top/left 同時定位，容易造成計算錯誤 */
    }

    /* 50%：可選的中途點 (例如畫面中央) */
    50% {
        bottom: 50%;
        left: 50%;
    }

    /* 100%：動畫終點 (右上角) */
    100% {
        /* 將圖片定位在右上角 */
        top: 0;
        right: 0;
        /* 使用 top/right 來讓圖片停在右上方 */
        
        /* 確保 left/bottom 屬性被移除或設為 auto */
        left: auto;
        bottom: auto;
    }
}

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .start .card {
        margin: 0;
    }

    .socialLink {
        /* display: flex; */
    }


}