:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
}

/*本周焦點物種 、 開始您的探索之旅的.container */
.hot .container,
.start .container {
    padding: 2rem 5% 0;
}

.hot .partTitle {
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    margin: 1.5rem 0 3rem;
    transition: all .5s;
    padding-bottom: 2.5rem;


    .title {
        height: 82px;
        writing-mode: vertical-lr;
        margin: .75rem;
    }

    .txt {
        position: absolute;
        bottom: -8.25%;
        color: var(--color-background-light);
        padding: .3rem;
        background-color: #00478Fbb;
        border-radius: 0 0 20px 20px;
        border: 1px solid #d3d3d3;

        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .tag {
        width: fit-content;
        text-align: right;
        color: var(--color-text-dark);
        font-weight: 450;
        margin-left: auto;
        letter-spacing: 0rem;
        border-radius: 20px;
    }

    .cardPic {
        margin-top: .5rem;
        margin-left: .5rem;
        width: 55%;
    }

    .cardPic img {
        width: 100%;
        border-radius: 20px;
    }
}

.card::before {
    content: "";
    transition: all 0.5s ease;
    opacity: 0;
}

.start {
    .content {
        display: flex;
    }

    .card {
        padding: 0;
        margin: 0;
    }

    .title {
        writing-mode: horizontal-tb;
        margin: 0 auto;
        align-content: center;
        color: var(--color-primary);
    }

    .cardPic {
        width: 100%;
        margin: .5rem;
    }
}

.wholeBio {
    padding: .5rem;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        margin: .5rem 0 ;
    }
    .title
    {
        margin-bottom: 0;
    }

    /* 內縮 */
    .txt {
        padding:  2px 10px;
        overflow: hidden;
        bottom: 0;
    }

}

@media screen and (min-width: 768px) {

    /* biology 類別生物區塊 */
    .wholeBio {
        margin: 2rem 0;
        padding: 1.5rem;

        /* 內縮 */
        .txt {
            padding: 20px;
        }
    }

    /* fish 類別生物區塊 */
    .wholeBioFish {
        margin: 0;
        padding: 0;

        .txt {
            padding: 20px;
        }

        .content {
            display: flex;
            justify-content: space-around;
        }
    }

    .hot,
    .wholeBio {
        .container {
            padding: 3rem 15.625% 0;
        }

        .content {
            margin: auto;
            justify-content: space-between;

            .card-link {
                margin: 0 -8px;

                .card {
                    flex-wrap: nowrap;
                    transition: all .5s;

                    .cardPic {
                        margin: 0;
                        width: 70%;
                        padding: .5rem;
                    }

                    .cardTopRight {
                        .title {
                            height: 90px;
                            margin: .5rem .4rem 0;
                        }

                        .tag {
                            padding: 0;
                            border-radius: 5px;
                            text-align: center;
                            align-content: center;
                        }
                    }

                    .txt {
                        bottom: 0%;
                        padding: .3rem .8rem;
                    }
                }
            }
        }
    }



    .card::before {
        content: "";
        transition: all 0.5s ease;
        opacity: 0;
    }

    .cardPic:hover {
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    }

    .start {
        .container {
            padding: 3rem 15.625% 0;
        }

        .content {
            margin: auto;
            justify-content: space-between;
        }

        .card {
            margin: 0;
        }

        .title {
            height: 130px;
            margin: auto;
        }

        .cardPic {
            width: 50%;
            padding: .5rem;
        }
    }
}