:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
}

/* ========  卡片  =======*/
.card-link {
    padding: 3px 8px;
}

.card {
    
    /* ========  卡片翻轉效果  
    1. 設定卡片的初始狀態 (還沒滑到的時候) 
    =======*/
    opacity: 0;
    transform:perspective(10000px) rotateY(90deg) translateY(50px);
    transform-origin: center center;
    transition: all 1s  ease-out;
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    margin: 1.5rem 0;
    padding-bottom: 2.5rem;

    

    /* ========  卡片照片  =======*/
    .cardPic {
        margin-top: .5rem;
        margin-left: .5rem;
        width: 55%;
    }

    .cardPic img {
        width: 100%;
        border-radius: 20px;
    }

    /* ========  卡片名 , tag  =======*/
    .cardTopRight {
        position: relative;

        .title {
            writing-mode: vertical-lr;
            margin: .75rem;
            height: 80px;
            color: var(--color-primary);
        }

        .tag {
            text-align: left;
            position: absolute;
            bottom: 12%;
            /* left: 40%; */
            width: 100%;
            color: var(--color-text-dark);
            font-weight: 500;
            opacity: 0.6;
            margin-left: .75rem;
            letter-spacing: 0.2rem;
        }
    }

    .txt {
        position: absolute;
        bottom: -8.25%;
        color: var(--color-background-light);
        padding: .3rem;
        background-color: #00478Fbb;
        border-radius: 0 0 20px 20px;
        /* border: 1px solid #d3d3d3; */

        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

.card-link .card.visible {
    opacity: 1;
    /* 回復原狀：
    rotateY(0deg): 轉回正面
    translateY(0): 回到原本位置
    */
    transform: perspective(10000px) rotateY(0) translateY(0);
}


@media screen and (min-width: 768px) {

    .card {
        .cardTopRight {
            .title {
                height: 93px;
            }

            .tag {
                bottom: 13%;
                /* left: 10%; */
            }
        }
        .txt {
            bottom: 0%;
        }

    }

    .card::before {
        content: "";
        transition: all 0.5s ease;
        opacity: 0;
    }

    .card:hover {
        /* box-shadow: rgba(249, 232, 232, 0.05) 0 0 8px; */
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.34);
    }

    .card:hover .txt {
        background-color: #00478F;
    }
}

@media screen and (min-width: 1024px) {

    .card {
        .cardTopRight {
            margin: 0 -2px;

            .tag {
                bottom: 7%;
                /* left: 0%; */
            }
        }

        .txt {
            transition: all .5s ease;
            bottom: -5%;
        }

    }


}


/* =============  卡片  ==============*/

/* =============  index 開始探索的卡片  ==============*/
.start {
    .content {
        display: flex;
    }

    .card {
        padding: 0;
        margin: 0;
    }

    .title {
        writing-mode: horizontal-tb;
        margin: 0 auto;
        align-content: center;
        color: var(--color-primary);
    }

    .cardPic {
        width: 100%;
        margin: .5rem;
    }
}

@media screen and (min-width: 768px) {
    .start {

        .content {
            margin: auto;
            justify-content: space-between;
        }

        .title {
            margin: auto;
        }

        .cardPic {
            width: 50%;
        }
    }
}

/* =============  index 開始探索的卡片  ==============*/

/* =============  biology頁面的卡片  ==============*/
.wholeBio {
    margin: 2rem 0;
    padding: 1.5rem;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card-link {
            margin: 0 -8px;
            padding: 0 5px;

            .card {
                margin: .5rem 0;
                flex-wrap: nowrap;

                .cardPic {
                    margin: 0;
                    width: 70%;
                    padding: .5rem;
                }

                .cardTopRight {
                    .title {
                        margin: .5rem .4rem 0;

                    }

                    .tag {
                        bottom: 14%;
                        /* left: 17%; */
                        margin-left: 0rem;
                    }
                }

                .txt {
                    bottom: 0%;
                    padding: .3rem .8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .wholeBio {
        .content {
            .card-link {
                .card {
                    .cardTopRight {
                        .tag {
                            bottom: 14%;
                            /* left: 8%; */
                            /* padding: 0; */
                        }
                    }
                }
            }
        }
    }
}

/* =============  biology頁面的卡片  ==============*/

/* =============  fish 頁面的卡片  ==============*/
.wholeBioFish {
    margin: 0;
    padding: 0;

    .txt {
        padding: 20px;
    }

    .content {
        display: flex;
        justify-content: space-around;
    }
}

/* =============  fish 頁面的卡片  ==============*/