:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
    /* --color-border-light: #eee; */
    --spacing-medium: 30px;
    --spacing-large: 50px;
    --font-size-title-desktop: 48px;
    --font-size-title-mobile: 36px;
}



/* ======= 介紹的資訊內容  ========= */
.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: auto;
    flex-direction: column;
    position: relative;
}

/* ======= 左邊  ========= */
/* ======= 照片，名稱跟框框資訊  ========= */
.infomation {
    padding: .5rem;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 1rem;
}

/* ======= 名稱  ========= */
.infomation .sub {
    text-align: center;
    font-size: 1.25rem;
}

/* ======= 框框資訊群組  ========= */
.infoPart {
    display: flex;
    flex-wrap: wrap;
}

/* ======= 框框資訊  ========= */
.info {
    border: 2px solid #00478F;
    border-radius: 5px;
    margin: .5rem auto;
    padding: .5rem;
    letter-spacing: normal;
    align-items: anchor-center;


}

.info .pTitle {
    width: 100%;
    padding: 0;
}

.info:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
}

.iucn {
    width: 60%;
    margin: 0 auto;
}

/* ======= 易危顏色警示  ========= */
.dangerous {
    background-color: var(--color-accent);
    border-radius: 20px;
    color: var(--color-background-light);
    padding: .5em;
    text-align: center;
}

/* ======= 文字介紹內容  ========= */
.content p {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .content p {
        margin-bottom: 1rem;
        line-height: 1.8;
    }
}


/* --------     背景圖片coral 定位     ----------- */
.wholeBio {
        position: relative;
    }
.bgim {
    position: absolute;
    z-index: -1;
    width: 60%;
    top: -4%;
    left: 55%;
}

.bgim img {
    width: 100%;
}

/* ---------推薦生物-----------------*/

.subtitle {
    text-align: center;
    padding: 1rem 0;
}



@media screen and (min-width: 768px) {

    /* =====背景色塊定位*/
    .container {
        background-image: url(../Mockup/bgcolor.png);
        background-size: 8%;
        background-repeat: repeat-y;
    }

    /* ======= 資訊、文字 上下排列  ====== */
    .top {
        flex-direction: row;
    }

    /* ======= 右邊 文字內容  ========= */
    .top .content {
        padding-left: 1.5rem;
        margin: auto 0;
    }

    /* --------     背景圖片定位點     ----------- */
    .wholeBio {
        position: relative;
    }

    /* --------     背景圖片coral 定位     ----------- */
    .bgim {
        position: absolute;
        z-index: -1;
        width: 50%;
        bottom: 59.5%;
        left: 65%;
    }


}