:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
    /* --color-border-light: #eee; */
    --spacing-medium: 30px;
    --spacing-large: 50px;
    --font-size-title-desktop: 48px;
    --font-size-title-mobile: 36px;
}


/* -------------------------- */

.top {
    display: flex;
    justify-content: space-between;
    min-height:auto;
    flex-direction: column;
    position: relative;
}

.infomation {
    padding: .5rem;
    background-color: #fff;
    border-radius: 20px;
}
.infomation .sub {
    text-align: center;
    font-size: 1.25rem;
}
.infoPart {
    display: flex;
    flex-wrap: wrap;
}
.info{
    border: 2px solid #00478F;
    border-radius: 5px;
    margin: .5rem auto;
    padding: .5rem;
    align-items: anchor-center;

    
}
.top .content{
    line-height: 220%;
}
.content h3 {
    font-size: 1.25rem;
}
h5{
    width: 100%;
}

.subtitle{
    text-align: center;
}
.info:nth-child(3){
    display: flex;
    flex-wrap: wrap;
}
.iucn{
    width: 60%;
    margin: 0 auto;
}
.dangerous{         
    background-color: var(--color-accent);
    border-radius: 20px;
    color:var(--color-background-light);
    padding: .5em;
    text-align: center;
} 

/* -------------     coral     -------------- */
.bgim{
        position: absolute;
        z-index: -1;
        width: 60%;
        bottom: -10%;
        left: -133%;
    }
    .bgim img{
        width: 100%;
    }
/* --------------------------*/



@media screen and (min-width: 768px) {

   
    /* --------------------------------------------- */


    .sub_title {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .search {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .container {
        background-image: url(../Mockup/bgcolor.png);
        background-size: 10% ;
        background-repeat: repeat-y;
    }
    

    .card .txt-bg .txt {
        padding: 1rem;
    }
    .content h3 {
        font-size: 1.rem;
    }
    .sub h3 {
        font-size: 1.5rem;
        margin: 0 .5rem;
    }
    .top {
        flex-direction: row;
    }
    .top .content{
        padding-left: 1.5rem;
    }
    .wholeBio{
        padding-top: 2rem ;
        position: relative;
    }
    .bgim{
        position: absolute;
        z-index: -1;
        width: 50%;
        bottom: 59.5%;
        left: 65%;
    }


}