:root {
    --color-primary: #330fba;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
    /* --color-border-light: #eee; */
    --spacing-medium: 30px;
    --spacing-large: 50px;
    --font-size-title-desktop: 48px;
    --font-size-title-mobile: 36px;
}



.card {
    /* width: 100%; */

    border-radius: 20px;
    border: 2px solid #d3d3d3;
    background-color: #fff;
    display: grid;
    grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-template-rows: auto;
    margin: 1.5rem 0;

}

.card .cardPic {
    margin: .5rem;
    grid-column: 1/5;
    grid-row: 1/5;
    width: 100%;
}

.cardPic img {
    width: 100%;
}

.card .title {
    writing-mode: vertical-lr;
    grid-column: 5/6;
    grid-row: 1/3;
    margin: 1rem;
}

.card .tag {
    grid-column: 5/7;
    grid-row: 3/4;
    background-color: #330fba;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    color: #fff;
    margin: .8rem;
}

.card .txt {
    color: #fff;
    padding: .8rem;
    background-color: #330fba90;
    grid-column: 1/7;
    grid-row: 4/6;
    border-radius: 0 0 20px 20px;
}

.card::before {
    content: "";
    transition: all 0.5s ease;
    opacity: 0;
}

.card:hover {
    transform: scale(1.05);
}
.dangerous .tag {
    background-color: #ff6f6170;
}
/* -------------------------- */

.top {
    display: flex;
    justify-content: space-between;
    min-height:auto;
    flex-direction: column;
}

.infomation {
    padding: .5rem;
    background-color: #fff;
    border-radius: 20px;
}
.infomation .sub {
    text-align: center;
}
.infoPart {
    display: flex;
    flex-wrap: wrap;
}
.info{
    border: 2px solid #330fba;
    border-radius: 5px;
    margin: .5rem auto;
    padding: .5rem;
    align-items: anchor-center;

    
}
.top .content{
    line-height: 220%;
}
.content h3 {
    font-size: 1.25rem;
    margin: 1rem 0 .5rem;
}
h5{
    width: 100%;
}

.subtitle{
    text-align: center;
}
.info:nth-child(3){
    display: flex;
    flex-wrap: wrap;
}
.iucn{
    width: 60%;
    margin: 0 auto;
}
.dangerous{         
    background-color: var(--color-accent);
    border-radius: 20px;
    color:var(--color-background-light);
    padding: .5em;
    text-align: center;
} 



.wholeBio{
    padding: 2rem;
}
.wholeBio .content{
    display: flex;
    justify-content: space-around;
}
/* --------------------------*/



@media screen and (min-width: 768px) {

   
    /* --------------------------------------------- */


    .sub_title {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .search {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .container {
        background-image: url(../Mockup/bgcolor.png);
        background-size: 10% ;
        background-repeat: repeat-y;
    }


    .card .txt-bg .txt {
        padding: 1rem;
    }
    .content h3 {
        font-size: 1.rem;
        margin: 1rem 0 .5rem;
    }
    .sub h3 {
        font-size: 1.5rem;
        margin: 0 .5rem;
    }
    .top {
        flex-direction: row;
    }
    .wholeBio{
        padding-top: 2rem ;
    }


}