:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
    /* --color-border-light: #eee; */
    --spacing-medium: 30px;
    --spacing-large: 50px;
    --font-size-title-desktop: 48px;
    --font-size-title-mobile: 36px;
}

.habiTat a {

    .habitat {
        display: flex;
        position: relative;
        /* ======= 卡片內容上下排序 ========= */
        flex-direction: column-reverse;
        margin: 1.5rem 0;
        background-color: var(--color-lifhtBlue);
        padding: 1.5rem;
        border-radius: 10px;
        color: #f5f5f5;
        align-items: center;

        .content {
            .subtitle{
                margin: 15px 0;
            }
            .txt {
                /* ======= 顯眼的顏色，避免被背景色吃掉 ========= */
                color: var(--color-background-light);
            }

            .txt.txtTitle {
                font-weight: 500;
                padding-bottom: 0px;
            }
        }
    }
}

/* ======= 第二跟第四個 字的顏色改變========= */
.habiTat a:nth-child(2n+1) .habitat {
    background-color: #C5C2C2;
    color: var(--color-text-dark);
}

.habiTat a:nth-child(2n+1) .habitat .content {
    color: var(--color-text-dark);
}

.habiTat a:nth-child(2n+1) .habitat .txt {
    color: var(--color-text-dark);
}

/* ======= 第二跟第四個 的左右排序相反 ========= */
@media screen and (min-width: 768px) {
    .txt.txtTitle {
                font-weight: 500;
                padding-bottom: 0px;
            }

    .habiTat a .habitat {
        flex-direction: row;
    }

    .habiTat a:nth-child(2n+1) .habitat {
        flex-direction: row-reverse;
    }
    .habiTat a:nth-child(2n+1) .habitat .content {
    margin-left: 2rem;
}
}