:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #70A6CF;
    --color-gray: #C5C2C2;
    --color-txt-bg: #5782b6;
}

.habiTat a {

    .habitat {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        /* ======= 卡片內容上下排序 ========= */
        flex-direction: column;
        margin: 1.5rem 0;
        background-color: var(--color-lifhtBlue);
        padding: 1.5rem;
        border-radius: 10px;
        color: var(--color-background-light);
        align-items: center;
        transition: all .5s ease-in;

        .content {
            .subtitle {
                margin: 15px 0;
            }

            .txt {
                /* ======= 顯眼的顏色，避免被背景色吃掉 ========= */
                color: var(--color-background-light);
                padding: 10px 0 0;
            }

            .txt.txtTitle {
                font-weight: 500;
                padding-bottom: 0px;
            }

            .pic {
                transition: all 0.5s ease;
            }
        }
    }

    .habitat:hover {
        box-shadow: 0 15px 30px rgba(0, 71, 143, 0.2);
        background-color: #7A94AC;
    }
    
}

/* 淺灰色卡片 Hover */
.habiTat a:nth-child(2n+1) .habitat:hover {
    background-color: #C5C2C2; /* 稍微變深一點的灰色 */
}

/* ======= 第二跟第四個顏色改變========= */
.habiTat a:nth-child(2n+1) .habitat {
    background-color: #eee;
    color: var(--color-text-dark);
}

.habiTat a:nth-child(2n+1) .habitat .content {
    color: var(--color-text-dark);
}

.habiTat a:nth-child(2n+1) .habitat .txt {
    /* padding-right:0; */
    /* padding-left: .25rem; */
    color: var(--color-text-dark);
}

/* ======= 第二跟第四個 的左右排序相反 ========= */
@media screen and (min-width: 768px) {
    .habiTat a .habitat .txt {
    padding-right: .25rem;
}
    .habiTat .subtitle {
        margin-bottom: 0;
    }
    .habiTat .pTitle {
        margin: 0;
    }
    .txt.txtTitle {
        font-weight: 500;
        padding-bottom: 0px;
    }

    .habiTat a .habitat {
        flex-direction: row;
    }

    .habiTat a:nth-child(2n+1) .habitat {
        flex-direction: row-reverse;
    }

    .habiTat a:nth-child(2n) .habitat .content {
        padding-left: 1rem;
    }
    .habiTat a:nth-child(2n+1) .habitat .content {
    padding-left:0;
    padding-right: .75rem;
}
}