:root {
    --color-primary: #00478F;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #70A6CF;
    --color-gray: #C5C2C2;
    --color-txt-bg: #5782b6;
}
/* -------------------hero--------------------- */
.hero {
    /* margin-top: 80px; */
    /* position: absolute; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
    background-image: url(../Mockup/banner.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    position: relative;
}

.mask {
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #150a4230 repeat;
    background-size: cover;
}

.hero .maintitle {
    z-index: 10;
    /* grid-row: 2/3; */
    /* grid-column: 2/3; */
    grid-row: 2/3;
    grid-column: 1/4;
    letter-spacing: 0.4rem;
    align-content: end;
    color: var(--color-white);
    font-size: 2rem;
}

.sub_title {
    z-index: 10;
    /* grid-row: 3/4;
    grid-column: 2/3; */
    grid-row: 3/4;
    grid-column: 1/4;
    align-content: space-around;
    letter-spacing: 0.3rem;
    color: var(--color-white);
    font-size: 1.3rem;
    font-weight: 200;
}

.search {
    z-index: 10;
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-row: 4/5;
    grid-column: 1/4;
    width: 80%;
    margin: auto;
    position: relative;
}

.search .search_bar input.searchBar {
    text-indent: 23px;
    width: 100%;
    border: 3px solid #0f52ba;
    border-radius: 40px;
    padding: 12px 5px;
}
.searchBar {
    font-size: 16px;
}
.searchBar.-on {
    box-shadow: 0 0 5px gray;
    transform: scale(1.01);
    transform-origin: center center;
}


.search_bar i {
    position: absolute;
    left: 10px;
    /* Adjust horizontal position */
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    /* Fine-tune vertical alignment */
    color: var(--color-gray);
    /* Customize icon color */
}

.search_bar {
    display: flex;
    position: relative;
}

.search_bar a {
    text-decoration: none;
    right: 30px;
    top: 3px;
    position: relative;
}

.search .hot {
    display: flex;
    margin-top: 1rem;
    color: var(--color-white);
}

.search .hot p {
    margin-right: 10px;
}

.search .hot button {
    padding: 0 5px;
    border: 0;
    background-color: var(--color-lifhtBlue);
    color: var(--color-white);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    height: 30px;
    margin: 0 1%;
    text-align: center;
}

.search .hot button:hover {
    background-color: var(--color-primary);
    box-shadow: inset;
}

/* --------------------------------------- */



button {
    display: block;
    margin: 0 auto;
    border-radius: 40px;
    cursor: pointer;
    border: 3px solid var(--color-primary);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.5s ease;
    color: var(--color-primary);
}

.news button {
    width: 30%;
    padding: 10px;
    margin: 20px 0;
}

button:hover {
    background-color: #013569;
    color: var(--color-white);
    /* box-shadow: rgb(93 24 220) 0px 7px 29px 0px; */
}


.joinBtn,
.moreBtn {
    padding: 17px 40px;
}

.joinBtn button:active,
.moreBtn button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(3px);
    transition: 100ms;
}


/* ----------------------------------- */
/* ----------------   about    ---------------------- */
.about .container {
    background-image: url(../Mockup/main.jpg);
    background-size: cover;
    position: relative;
}

.about .partTitle {
    color: var(--color-white);
    padding-bottom: 0px;
    text-align: center;
}

.about .content {
    /* overflow: auto; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}

.about .txt {
    background-color: var(--color-white);
    border-radius: 20px;
    margin: 1rem;
    padding: .8rem;
}

.whale {
    width: 55%;
    z-index: 10;
    position: absolute;
    right: 0px;
    bottom: -15px;
}

.turtle {
    z-index: 10;
    position: absolute;
    width: 45%;
    left: -10px;
    top: 5px;
}

@keyframes floatTurtle {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        /* 向上浮動並稍微旋轉 */
        transform: translateY(-15px) rotate(2deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes floatWhale {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        /* 向上浮動並稍微旋轉 */
        transform: translateY(-25px) rotate(2deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.about .pic.turtle {
    opacity: 0;
    transform: translateX(-50px);
    /* 向左偏移 */
    transition: all1.5s cubic-bezier(0.23, 1, 0.320, 1);
}

/* 鯨魚：初始位置在右邊外面一點，透明度 0 */
.about .pic.whale {
    opacity: 0;
    transform: translateX(50px);
    /* 向右偏移 */
    transition: all 1.5s cubic-bezier(0.25, 1, 0.5, 1);
    transition-delay: 0.3s;
    /* 比海龜慢一點點進場 */
}

/* --- 設定圖片持續浮動效果 --- */

.about .pic.turtle img {
    animation: floatTurtle 6s ease-in-out infinite;
}

.about .pic.whale img {
    animation: floatWhale 8s ease-in-out infinite;
    /* 鯨魚動得比較慢 */
}


/* --- 當 JavaScript 加上 .active class 時的狀態 (進場後) --- */

.about .pic.turtle.active,
.about .pic.whale.active {
    opacity: 1;
    transform: translateX(0);
    /* 回到原本 CSS 設定的定位點 */
}


@media screen and (min-width: 768px) {

    .about {

        .container {
            .content {
                margin: 2rem 0 5rem;
            }
        }

        .partTitle {
            text-align: center;
        }

        .txt {
            margin: 1rem 1rem 2rem;
            padding: 1rem;
        }

        .whale {
            width: 50%;
            z-index: 10;
            bottom: -10px;
            right: 0;
        }

        .turtle {
            width: 40%;
            z-index: 10;
            left: -35px;
            top: -25px;

        }
    }
}

@media screen and (min-width: 1024px) {

    .about {
        .whale {
            width: 45%;
            z-index: 10;
            bottom: -50px;
            right: 20px;
        }

        .turtle {
            width: 35%;
            z-index: 10;
            left: 10px;
            top: -20px;
        }
    }
}

/* --------------Challenge ----------------- */
.challenge {
    .container {
        .news {
            border: 3px solid #0f52ba;
            border-radius: 20px;
            padding: 1rem 2rem 0;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);

            .newstop {
                justify-content: space-between;
                padding-bottom: 15px;

                .newsDate {
                    color: var(--color-gray);
                    text-align: right;
                }
            }

            .txt {
                /* 避免干擾行數的顯示 */
                padding: 0 ;
                margin: 0 0 25px  0;
                /* --- 設定預設狀態：只顯示 8 行 --- */
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 9;
                /*  設定 Box 的排列方向為垂直 (這樣才能算行數) */
                -webkit-box-orient: vertical;
                /* (選用) 修正文字被截斷的視覺效果，確保不會只顯示半行 */
                text-overflow: ellipsis;
            }
            .pic {
                padding-bottom: 15px;
            }

            .part {
                display: flex;
                flex-direction: column-reverse;

                .info {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .allTag {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        gap: 2.5%;
                        margin-bottom: 15px;

                        .tag {
                            letter-spacing: normal;
                            color: var(--color-lifhtBlue);
                            padding: 0;
                            border-radius: 5px;
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .whole {
            display: none;
        }

        /* ===== 設定 dangerous 的 顏色 =====*/
        .dangerous {
            margin-bottom: 50px;
            border: 3px solid var(--color-accent);

            .part {
                .info {
                    .allTag {
                        .tag {
                            color: #ff6f61aa;
                        }
                    }
                }
            }

            /* ===== 設定 dangerous button 的 顏色 =====*/
            button {
                border: 3px solid var(--color-accent);
            }

            button:hover {
                background-color: #ff6f61cc;
                color: var(--color-white);
            }

        }

        .news.expanded .whole {
            display: block;
        }

        .news.expanded .txt {
            /* 取消行數限制 */
            -webkit-line-clamp: unset;

            /* 顯示溢出的內容 */
            overflow: visible;
        }

        .news button {
            margin: 20px 0;
            width: 60%;
        }

        .btn {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 768px) {
    .challenge {
        .container {
            .news {

                .part {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .txt {
                    padding: 0 18px 0 0;
                }

                button {
                    width: 40%;
                    margin: 20px 0;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------- */
@media screen and (min-width: 768px) {

    /* ---------- 文字大小 ----------*/
    .hero .maintitle {
        /* .hero .maintitle */
        font-size: 3.5rem;
    }

    .sub_title {
        /* .hero .sub_title */
        font-size: 2rem;
    }


    .txt {
        /* 內文 */
        font-size: 1rem;
        color: var(--color-text-dark);
        padding: 20px 20px 20px 0;
        line-height: 200%;
    }

    .hot {
        /* 標籤 按鈕 */
        font-size: 1rem;
    }

    /* --------------------------------------------- */

    .hero .maintitle {
        grid-row: 2/3;
        grid-column: 2/3;

    }

    .sub_title {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .search {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .part {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }


}


/* =======================   action    =======================*/
/* 1. 設定外層容器，作為定位基準 */
div.truck-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url(.././Mockup/action_bg4.png);
    background-size: cover;
    border-radius: 20px;
}

/* 垃圾車 */
img.truck-img {
    position: relative;
    width: 100%;
    z-index: 5;
}

/* 各項垃圾定位 */
div.trash-group {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

div.pic img.trash-item {
    position: absolute;
    width: 35px;
    height: auto;
    /* opacity: 0; */
    top: 40%;
    left: 60%;
    opacity: 0;
    animation: dumpTrash linear forwards;
}

/* 垃圾掉落動畫 */
@keyframes dumpTrash {
    0% {
        /* 起點 隱藏*/
        opacity: 0;
        top: 40%;
        left: 60%;
        transform: translate(0, 0) scale(0.2) rotate(0);
    }

    40% {
        /* 出現 */
        opacity: 1;
    }


    100% {
        opacity: 1;
        top: var(--y-end, 90%);
        transform: translate(var(--x-end), 0) scale(1.5) rotate(var(--r-end));
    }

}
@media screen and (min-width: 768px) {
    div.pic img.trash-item {
        width: 60px; 
    }
}

.actionPart .content {
    padding-left: 10px;
}
.actionPart .subTitle{
    margin: 0 auto;
}
.actionPart .txt{
    padding-right: 0;
    padding-left: 10px;
}

.actionPart .btn {
    margin: 0 auto;
}
.actionPart .count-number {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-accent);
}