body {
    font-family: 'chiron-goround-tc', "Noto Sans TC", "Inter", serif, sans-serif;
    line-height: 1.5;
    /* letter-spacing: .15rem; */
    color: #001f3f;
    background-color: #f5f5f5;
    box-sizing: border-box;
}


a {
    transition: none;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    color: var(--color-primary);
}

p {
    padding-bottom: .25rem;
}

/* -------------------nav--------------------- */
.main-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 5px 10px;

}

.logo {
    display: flex;
}

.logo img {
    display: block;
}

.menu-switch {
    display: none;
}

@media screen and (width < 768px) {

    .main-menu {
        position: absolute;
        display: none;
        background-color: #00478F;
        height: calc(100svh - 30px);
        width: 100%;
        top: 100%;
        left: 0;
        color: var(--color-background-light);
    }

    .main-menu>ul {
        list-style: none;
        padding: 15px 0;
    }

    .hb {
        border: 1px solid #00478F77;
        border-radius: 5px;
        width: 50px;
        height: 40px;
        position: relative;
        cursor: pointer;
        transition: border-color 0.3s;
        margin-right: 10px;
    }

    .hb .bar {
        display: block;
        width: 65%;
        height: 2px;
        background-color: #00478F;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 25px;


    }

    .hb .bar1 {
        top: 10px;
        transform: rotate(0deg);
        transition: top .5s ease, transform .5s ease-out;
    }

    .hb .bar2 {
        top: 18px;
        transform: rotate(0deg);
        transition: top .5s ease, transform .5s ease-out;
    }

    .hb .bar3 {
        top: 26px;
        transform: rotate(0deg);
        transition: top .5s ease, transform .5s ease-out;
    }

    .hb .bar4 {
        opacity: 0;
        transform: scaleX(0.5);
    }

    /* =========== */

    .hb.switchFish .bar1 {
        top: 15.5px;
        width: 40%;
        transform: translate(-12px, 0) rotate(-25deg);
        transition: top .5s ease-in, transform .5s ease;
    }

    .hb.switchFish .bar2 {
        top: 18.5px;
        width: 60%;
        transform: translate(9px, 0) rotate(30deg);
        transition: top .5s ease-in, transform .5s ease;
    }

    .hb.switchFish .bar3 {
        top: 24px;
        width: 40%;
        transform: translate(-12px, 0) rotate(25deg);
        transition: top .5s ease-in, transform .5s ease;
    }

    .hb.switchFish .bar4 {
        opacity: 1;
        top: 20.5px;
        width: 60%;
        transform: translate(9px, 0) rotate(-30deg);
        transition: top .5s ease-in, transform .5s ease;
    }

    .main-menu.switchFish {
        display: block;
    }

    .main-menu a {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
        transition: all 0.3;
        color: var(--color-white);
        border: 1px solid #001f3f11;
    }

    .logo_white {
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (width >=768px) {
    .main-menu {
        font-size: 20px;
        letter-spacing: normal;
        align-content: center;


        >ul {
            display: flex;
            list-style: none;
        }

    }

    .main-menu a {
        z-index: 99;
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 18px;
        padding: 5px 10px;
        /* 確保 a 標籤上的過渡效果存在 */
        transition: all 0.3;
    }

    .main-menu a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 20px;
        background: linear-gradient(100deg,
                #00478F,
                #35657f,
                #6c92a0,
                #00478F,
                #559cf4);
        background-size: 100% auto;
        transition: transform 0.5s ease-out, opacity 0.2s;
        transform: translateY(0%);
        opacity: 0;
    }

    .main-menu a:hover::after {
        transform: translateY(0%);
        opacity: 1;
        animation: wave 1s ease-in infinite alternate;
    }

    .logo a::after {
        background: none;
        transform: none;
    }

    .logo_white {
        display: none;
    }



}

/* ==================     
container    
 ================= */
/* 
1. 手機版 (Mobile Default, < 768px)
   目標：最大化內容空間，避免文字貼邊 */
.container {
    margin: 0;
    padding: 5rem 5%;
    /* width: 100%; */
}

/* 2. 平板 / 小筆電 (Tablet, >= 768px)
   目標：增加呼吸感，但不要壓縮太多內容 */
@media screen and (min-width: 768px) {

    .container {
        margin: 0;
        padding: 4.5rem 8%;
        /* width: 100%; */
    }
}

/* 3. 桌機 / 大螢幕 (Desktop, >= 1024px)
   目標：集中視覺焦點，避免單行文字過長 */
@media screen and (min-width: 1024px) {
    .container {
        margin: 0;
        padding: 4.5rem 15.625% 2rem;
        /* width: 100%; */
    }
}



/* ==================     
footer    
 ================= */

.foot {
    display: flex;
    background-color: #EDF5FF;
    padding: 5%;
    justify-content: space-between;
}

.footerPageLink {
    .subTitle {
        font-weight: 500;
        font-size: 1.15rem;
    }

    .txt {
        margin: 10px;
        padding: 10px;
    }
}

.txt a:hover {
    text-decoration-line: underline;
    border-radius: 2px solid var(--color-primary);
}

.socialLink {
    margin: auto;
}

.socialLink .logo {
    padding: 0;
}

.socialLink .logo img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.socialMedia {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 15px;
}

.socialMedia a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.socialMedia a img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .foot {
        padding: 3%;
    }

    .footerPageLink {
        display: flex;

        .list {
            margin: 0 20px;
        }

        .txt {
            margin: 0;
            padding: 5px 0;
        }

        a {
            margin: 15px 0;
        }
    }
}

/* -------    footer   --------- */



/* --------------------------------- */
.title {
    /* 區塊標題 */
    position: relative;
    letter-spacing: .3rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.subTitle,
.subtitle {
    /* 內文標題 */
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
}

.partTitle {
    color: var(--color-primary);
    font-size: 1.5rem;
    padding: 0 0 40px 0;
    font-weight: 800;
}

.txt {
    /* 內文 */
    font-size: 1rem;
    color: var(--color-text-dark);
    padding-bottom: 20px;
    line-height: 1.6;

}



.pic img {
    display: block;
    /* 確認 */
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}


.pTitle {
    color: var(--color-primary);
    font-weight: 500;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 1rem;
}


/* ----------------------------------- */


@media screen and (min-width: 768px) {

    /* ---------- 文字大小 ----------*/

    .partTitle {
        /* 段落title */
        font-size: 1.75rem;
        letter-spacing: .4rem;
    }

    .title {
        /* 區塊標題 */
        font-size: 1.25rem;
        font-weight: 700;
    }

    .subTitle {
        /* 內文標題 */
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.3rem;
        margin-bottom: 15px;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .txt {
        /* 內文 */
        /* letter-spacing: .2rem; */
    }


    /* --------------------------------------------- */


    .sub_title {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .search {
        grid-row: 4/5;
        grid-column: 2/3;
    }
}

/* =========   泡泡設定   ========= */
.bubble-container {
    position: fixed;
    width: 95%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    position: absolute;
    /* bottom: -50px; */
    background: radial-gradient(circle at 40% 50%, rgba(213, 236, 255, 0.8), rgba(161, 169, 254, 0.215));
    box-shadow: 0 0 10px rgba(167, 160, 222, 0.2);
    /* 微微發光 */
    border-radius: 50%;
    animation: rise var(--duration) linear forwards,
        sway 3s ease-in-out infinite alternate;
}

@keyframes rise {
    0% {
        opacity: 0;
        bottom: -50px;
    }

    25% {
        opacity: .6;
        bottom: 25%;
    }

    75% {
        opacity: .6;
        bottom: 80%;
    }

    100% {
        opacity: 0;
        bottom: 110%;
    }
}

@keyframes sway {
    0% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(15px);
    }
}