.container {
    .top {
        display: flex;
        align-items: center;

        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }

            /* .subtitle {} */
        }
    }

    .content {
        margin: 4rem 0;

        .subtitle {
            width: fit-content;
            color: var(--color-primary);
            border-bottom: 4px solid var(--color-primary);
        }

        
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .pTitle {
                    font-weight: 600;
                    margin: auto;
                }


        a {
            display: block;
            text-decoration: none;
            color: inherit;

            .card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 20px;
                border: 2px solid #d3d3d3;
                background-color: #fff;
                margin: .5rem 0;
                position: relative;
                letter-spacing: .3rem;
            }

            .pic {
                padding: .1rem;
                width: 100%;
            }

            .rightTxt {
                padding-top: 1rem;
                padding-left: .5rem;
            }

            .pTitle {
                border-bottom: 2px solid var(--color-primary);
                width: fit-content;
                margin-left: 0;
            }
        }
    }
    .secondPart{
        border: 3px solid var(--color-primary);
        border-radius: 20px;
        padding: 2rem 0;

        .item{
            display: flex;
            padding-left: 20px;
            margin: auto 0;
            margin-bottom: 20px;
            border-bottom:  1px solid var(--color-lifhtBlue);
            
        }
        .pTitle{
            font-weight: 600;
            padding-bottom:15px ;
            
        }
        .txt{
            
            padding: 5px 0;
        }

    }
    

}