:root {
    --color-primary: #330fba;
    /* 主要強調色 (深藍/紫色) */
    --color-accent: #ff6f61;
    /* 次要強調色/危險色 (橙紅) */
    --color-text-dark: #001f3f;
    --color-background-light: #f5f5f5;
    --color-white: #ffffff;
    --color-lifhtBlue: #78B6CE;
    --color-gray: #C5C2C2;
}

.container {
    .top {
        display: flex;
        align-items: center;

        .titleGroup {
            .partTitle {
                padding-bottom: 10px;
            }
            .subtitle{
                padding-bottom: 2rem;
            }
        }
    }

    .content {
        margin: 2rem 0 4rem 0;

        .subtitle {
            width: fit-content;
            color: var(--color-primary);
            border-bottom: 4px solid var(--color-primary);
            padding-bottom: 1rem;
        }


    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .pTitle {
            font-weight: 600;
            margin: auto;
        }

        

        .newLink {
            position: relative;
            display: block;

            .hover-tip {
                opacity: 0;
                visibility: hidden;
                z-index: 99;
                position: absolute;
                top: 0%;
                left: 40%;
                background-color: #ff6f6111;
                border-radius: 10px;
                transition: all .5s .1s ease-in;
            }


            .card {
                display: flex;
                /* justify-content: space-between; */
                align-items: center;
                border-radius: 20px;
                border: 2px solid #d3d3d3;
                background-color: var(--color-white);
                margin: .5rem 0;
                position: relative;
                min-height: 140px;
            }

            .pic {
                padding: .5rem;
                min-width: 110px;
            }

            .rightTxt {
                padding-top: 1rem;
            }

            .pTitle {
                border-bottom: 2px solid var(--color-primary);
                width: fit-content;
                margin-left: 0;
            }
            .rightTxt .txt p{
                padding: 0 .5rem 0 0;
            }
        }

        .newLink:hover .hover-tip {
            visibility: visible;
            opacity: 1;
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }
    }

    .secondPart {
        border: 3px solid var(--color-primary);
        border-radius: 20px;
        padding: 2rem 0;

        .item {
            display: flex;
            flex-wrap: wrap;
            margin: auto 0;
            padding: 10px 0;

            .txt {
                padding-left: 20%;
            }

            a {
            transition: none;
            color: inherit;
            display: block;

        }

        }

        .pTitle {
            font-weight: 600;
            margin: auto 0;
            padding-left: 20px;

        }

        .txt {
            padding: 0;
        }

    }


}

@media screen and (min-width: 768px) {
    .container {
        & .list {
            & .newLink {
                .card {
                    min-height: 150px;
                }
                .pic {
                    padding: .5rem .8rem;
                }
            }
        }
        .secondPart {
            .item {
                flex-wrap: nowrap;
                .txt {
                    padding-left: 0%;
                }
            }
        }
    }

}

